$light: #f2f4f9;
$btn-color: #233DFF;  
$primary-color: #233DFF;
// $nav-color: #050a30;
$nav-color: #ffffff;
// $primary-color: #13b1cd;
$secondary-color: #ffd43a;
$event-color: #264756;
$law-color: #365B6D ;
$black: #242424;
$border-color:#dedede;
// $primary-font:'Montserrat', sans-serif;
// $secondary-font:'Poppins', sans-serif;
// $extra-font:'Hind', serif;
$primary-font:'Roboto Mono', monospace;
$secondary-font:'Roboto Mono', monospace;
$extra-font:'Roboto Mono', monospace;