// Intro Section

.intro-item{

	i{
		font-size:60px;
		line-height: 60px;
	}
	
}

.color-one{
	color: $primary-color;
}
.color-two{
	color: $black;
}
.color-three{
	color: $light;
}
.color-four{
	color:#088ed3;
}