#navbar{
  background: $nav-color;
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
  li{
    padding-left: 15px;
    @include desktop {
      padding-left: 0;
    }
  }

 .nav-link{
    font-family: $secondary-font;
    font-weight: 500;
    color: $black;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .5px;
    transition: all .25s ease;
    
  }
    
  .nav-link:hover, .nav-link:focus,
  .active .nav-link {
    color: $primary-color;
  }


  .btn{
    padding: .7rem 1.5rem .5rem;
    color: $black;
    @include desktop {
      margin: 15px 0 10px;
    }
  }

}

.header-top{
  background: rgba(34,35,40,1);
  color: #919194;
  border-bottom: 1px solid rgba(255,255,255,.05);

  .header-top-socials {
    border-right: 1px solid rgba(255,255,255,.05);
    padding: 12px 0px;
  }
  
  .header-top-socials {
    margin-left: -8px;
    a {
      color: #919194;
      margin-right: 8px;
      font-size: 16px;
      padding: 0 8px;
      &:hover {
        color: $primary-color;
      }
    }
  }
  .header-top-info{
    color: #919194;
    font-size: 16px;

    a span{
      color: $light;
    }
    a{
      margin-left: 35px;
      color: #919194;
    }
  }
}

#navbar-cta{
  background-color: $secondary-color;
}

.navbar-toggler {
  padding: 0;
  font-size: 1.5rem;
  color: $primary-color;
  &:focus {
    outline: 0;
  }
}


.navbar-brand{
  color: $secondary-color;
  font-weight: 600;
  letter-spacing: 1px;

  span{
    color: $primary-color;
  }
}



